.row
  #notes-nav.col.s1
    #nav-inner

  #notes-content.col.s8
    #title.col.s12
      %h1.center Notes
      %p.center I write rarely but like it. I keep some things from over the years here.
    #notes-years
      %ul
        - @years.each do |year|
          %li
            %a{href: "#" + "#{year}"} #{year}
    #notes
      %ul
        - @years.each do |year|
          - @notes.select {|n| n.date == year }.each_with_index do |note, i|
          
            - if i.zero?
              #note-year
                %a{name: note.date}
                %h5 #{note.date}
            %li
              %a{href: ""} #{note.title}
              %p #{truncate(note.content)}
